<a href="https://colab.research.google.com/github/hamednasr/predict-heart-disease/blob/main/predicting_heart_disease_using_pytorch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting Heart Disease**

In [58]:
import numpy as np
import pandas as pd 
import torch
import torch.nn as nn
from torch.utils.data import DataLoader,TensorDataset
from sklearn.model_selection import train_test_split
from IPython import display
from scipy import stats
display.set_matplotlib_formats('svg')

## importing data

In [15]:
col_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data',
                   header= None,
                   names = col_names)
data

      age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal num
0    63.0  1.0  1.0     145.0  233.0  1.0  ...    0.0      2.3    3.0  0.0   6.0   0
1    67.0  1.0  4.0     160.0  286.0  0.0  ...    1.0      1.5    2.0  3.0   3.0   2
2    67.0  1.0  4.0     120.0  229.0  0.0  ...    1.0      2.6    2.0  2.0   7.0   1
3    37.0  1.0  3.0     130.0  250.0  0.0  ...    0.0      3.5    3.0  0.0   3.0   0
4    41.0  0.0  2.0     130.0  204.0  0.0  ...    0.0      1.4    1.0  0.0   3.0   0
..    ...  ...  ...       ...    ...  ...  ...    ...      ...    ...  ...   ...  ..
298  45.0  1.0  1.0     110.0  264.0  0.0  ...    0.0      1.2    2.0  0.0   7.0   1
299  68.0  1.0  4.0     144.0  193.0  1.0  ...    0.0      3.4    2.0  2.0   7.0   2
300  57.0  1.0  4.0     130.0  131.0  0.0  ...    1.0      1.2    2.0  1.0   7.0   3
301  57.0  0.0  2.0     130.0  236.0  0.0  ...    0.0      0.0    2.0  1.0   3.0   1
302  38.0  1.0  3.0     138.0  175.0  0.0  ...    0.0      0.0    1.0    ?   3.0   0

[303 rows x 14 columns]

<font color='blue'>bar</font>

## preprocessing and cleaning data

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  num       303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [24]:
data.describe(include='O')

         ca thal
count   303  303
unique    5    4
top     0.0  3.0
freq    176  166

In [26]:
data['ca'].value_counts()

0.0    176
1.0     65
2.0     38
3.0     20
?        4
Name: ca, dtype: int64

In [27]:
data['thal'].value_counts()

3.0    166
7.0    117
6.0     18
?        2
Name: thal, dtype: int64

In [28]:
data[data['ca']=='?']

      age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope  ca  thal num
166  52.0  1.0  3.0     138.0  223.0  0.0  ...    0.0      0.0    1.0   ?   3.0   0
192  43.0  1.0  4.0     132.0  247.0  1.0  ...    1.0      0.1    2.0   ?   7.0   1
287  58.0  1.0  2.0     125.0  220.0  0.0  ...    0.0      0.4    2.0   ?   7.0   0
302  38.0  1.0  3.0     138.0  175.0  0.0  ...    0.0      0.0    1.0   ?   3.0   0

[4 rows x 14 columns]

In [33]:
data[data['thal']=='?']

      age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal num
87   53.0  0.0  3.0     128.0  216.0  0.0  ...    0.0      0.0    1.0  0.0     ?   0
266  52.0  1.0  4.0     128.0  204.0  1.0  ...    1.0      1.0    2.0  0.0     ?   2

[2 rows x 14 columns]

In [37]:
data.drop(labels= data[data['ca']=='?'].index,inplace=True)

In [38]:
data.drop(labels= data[data['thal']=='?'].index,inplace=True)

In [48]:
data['ca'] = data['ca'].astype('float64')

In [47]:
data['thal'] = data['thal'].astype('float64')

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  num       297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 34.8 KB

In [50]:
data.describe()

              age         sex          cp  ...          ca        thal         num
count  297.000000  297.000000  297.000000  ...  297.000000  297.000000  297.000000
mean    54.542088    0.676768    3.158249  ...    0.676768    4.730640    0.946128
std      9.049736    0.468500    0.964859  ...    0.938965    1.938629    1.234551
min     29.000000    0.000000    1.000000  ...    0.000000    3.000000    0.000000
25%     48.000000    0.000000    3.000000  ...    0.000000    3.000000    0.000000
50%     56.000000    1.000000    3.000000  ...    0.000000    3.000000    0.000000
75%     61.000000    1.000000    4.000000  ...    1.000000    7.000000    2.000000
max     77.000000    1.000000    4.000000  ...    3.000000    7.000000    4.000000

[8 rows x 14 columns]

In [56]:
data['num'] = data['num'].map({0:0 , 1:1, 2: 1, 3: 1, 4:1})

In [57]:
data['num'].value_counts()

0    160
1    137
Name: num, dtype: int64

In [61]:
values = data.iloc[:,:-1]
labels = data.iloc[:,-1]

In [62]:
values

      age  sex   cp  trestbps   chol  ...  exang  oldpeak  slope   ca  thal
0    63.0  1.0  1.0     145.0  233.0  ...    0.0      2.3    3.0  0.0   6.0
1    67.0  1.0  4.0     160.0  286.0  ...    1.0      1.5    2.0  3.0   3.0
2    67.0  1.0  4.0     120.0  229.0  ...    1.0      2.6    2.0  2.0   7.0
3    37.0  1.0  3.0     130.0  250.0  ...    0.0      3.5    3.0  0.0   3.0
4    41.0  0.0  2.0     130.0  204.0  ...    0.0      1.4    1.0  0.0   3.0
..    ...  ...  ...       ...    ...  ...    ...      ...    ...  ...   ...
297  57.0  0.0  4.0     140.0  241.0  ...    1.0      0.2    2.0  0.0   7.0
298  45.0  1.0  1.0     110.0  264.0  ...    0.0      1.2    2.0  0.0   7.0
299  68.0  1.0  4.0     144.0  193.0  ...    0.0      3.4    2.0  2.0   7.0
300  57.0  1.0  4.0     130.0  131.0  ...    1.0      1.2    2.0  1.0   7.0
301  57.0  0.0  2.0     130.0  236.0  ...    0.0      0.0    2.0  1.0   3.0

[297 rows x 13 columns]

In [63]:
labels

0      0
1      1
2      1
3      0
4      0
      ..
297    1
298    1
299    1
300    1
301    1
Name: num, Length: 297, dtype: int64

In [73]:
data.columns[:-1]

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [75]:
values = pd.DataFrame(stats.zscore(values, axis=0),columns=data.columns[:-1])

In [76]:
values

          age       sex        cp  ...     slope        ca      thal
0    0.936181  0.691095 -2.240629  ...  2.264145 -0.721976  0.655877
1    1.378929  0.691095  0.873880  ...  0.643781  2.478425 -0.894220
2    1.378929  0.691095  0.873880  ...  0.643781  1.411625  1.172577
3   -1.941680  0.691095 -0.164289  ...  2.264145 -0.721976 -0.894220
4   -1.498933 -1.446980 -1.202459  ... -0.976583 -0.721976 -0.894220
..        ...       ...       ...  ...       ...       ...       ...
292  0.272059 -1.446980  0.873880  ...  0.643781 -0.721976  1.172577
293 -1.056185  0.691095 -2.240629  ...  0.643781 -0.721976  1.172577
294  1.489615  0.691095  0.873880  ...  0.643781  1.411625  1.172577
295  0.272059  0.691095  0.873880  ...  0.643781  0.344824  1.172577
296  0.272059 -1.446980 -1.202459  ...  0.643781  0.344824 -0.894220

[297 rows x 13 columns]